Repository seL4/l4v, pull requests merged in 2024-01, with the labels that each got.

#703 aarch64 cspec+crefine: pt_type ghost state + table array sizes
  spec/abstract/AARCH64/Arch_Structs_A.thy
  spec/cspec/AARCH64/Kernel_C.thy
  spec/machine/AARCH64/Platform.thy
Labels: Aarch64

#686 docs: add a guide for commit messages
  docs/commit-messages.md
Labels: docs

#709 `ccorres_While` on `rt`
  lib/clib/CCorresLemmas.thy
Labels: MCS

#676 If cpp_path is relative, make it relative to the current theory.
  tools/c-parser/isar_install.ML
Labels: C-parser

#674 Ensure that umm_types.txt is saved relative to theory file.
  tools/c-parser/calculate_state.ML
Labels: C-parser
