Repository seL4/l4v, pull requests merged in 2025-03, with the labels that each got.

#860 riscv machine+haskell: kernelELFPAddrBase change
  spec/haskell/src/SEL4/Machine/Hardware/RISCV64.hs
  spec/machine/RISCV64/Platform.thy
Labels: seL4-PR

#862 aarch64: updates for GICv3 split EOI mode
  proof/crefine/AARCH64/Interrupt_C.thy
  proof/crefine/AARCH64/Machine_C.thy
  proof/crefine/AARCH64/Syscall_C.thy
  proof/invariant-abstract/AARCH64/ArchBCorres2_AI.thy
  proof/invariant-abstract/AARCH64/ArchEmptyFail_AI.thy
  proof/invariant-abstract/AARCH64/ArchInterrupt_AI.thy
  proof/refine/AARCH64/Interrupt_R.thy
  spec/abstract/AARCH64/ArchInterrupt_A.thy
  spec/design/skel/AARCH64/Hardware_H.thy
  spec/haskell/src/SEL4/Machine/Hardware.lhs
  spec/haskell/src/SEL4/Machine/Hardware/AARCH64.hs
  spec/haskell/src/SEL4/Object/Interrupt/AARCH64.hs
  spec/machine/AARCH64/MachineOps.thy
Labels: seL4-PR, Aarch64, platforms

#866 arm-hyp+aarch64 haskell+crefine: fix saved-when-disabled registers
  proof/crefine/AARCH64/Arch_C.thy
  proof/crefine/ARM_HYP/Arch_C.thy
  spec/haskell/src/SEL4/Machine/RegisterSet/AARCH64.hs
  spec/haskell/src/SEL4/Machine/RegisterSet/ARM.lhs
Labels: bug

#867 aarch64: avoid saving CPACR to a disabled VCPU
  proof/crefine/AARCH64/SR_lemmas_C.thy
  proof/crefine/AARCH64/VSpace_C.thy
  proof/crefine/ARM_HYP/SR_lemmas_C.thy
  proof/crefine/ARM_HYP/VSpace_C.thy
  proof/refine/AARCH64/VSpace_R.thy
  spec/abstract/AARCH64/VCPUAcc_A.thy
  spec/haskell/src/SEL4/Machine/RegisterSet/AARCH64.hs
  spec/haskell/src/SEL4/Object/VCPU/AARCH64.hs
Labels: bug, Aarch64

#865 cspec: fix invalid escape sequence in mk_umm_types
  spec/cspec/mk_umm_types.py
Labels: cleanup
